export POSTGRES_DRIVER=pdo_pgsql
export POSTGRES_HOST=localhost
export POSTGRES_PORT=5432
export POSTGRES_USER=test
export POSTGRES_PASSWORD=test
export POSTGRES_DB=testdb

export MYSQL_DRIVER=pdo_mysql
export MYSQL_HOST=127.0.0.1
export MYSQL_PORT=3306
export MYSQL_USER=test
export MYSQL_PASSWORD=test
export MYSQL_DATABASE=testdb
export MYSQL_VERSION=5.7
export MYSQL_CHARSET=utf8

export MARIADB_DRIVER=pdo_mysql
export MARIADB_HOST=127.0.0.1
export MARIADB_PORT=3307
export MARIADB_USER=test
export MARIADB_PASSWORD=test
export MARIADB_DATABASE=testdb
export MARIADB_VERSION=11
export MARIADB_CHARSET=utf8

export MSSQL_DRIVER=pdo_sqlsrv
export MSSQL_VERSION=2022
export MSSQL_HOST=localhost
export MSSQL_PORT=1433
export MSSQL_DATABASE=master
export MSSQL_USER=sa
export MSSQL_PASSWORD=superAdmin123%
